# Copiar como config/.env y completar. NUNCA subir config/.env al repo.

JWT_SECRET_KEY=cambia_esto_por_una_clave_segura
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=5

PG_HOST=localhost
PG_PORT=5432
PG_USER=asfi_user
PG_PASSWORD=
PG_DB_UNION=banco_union
PG_DB_MERCANTIL=banco_mercantil
PG_DB_BNB=banco_bnb

SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=
SQLSERVER_DB_BCP=banco_bcp
SQLSERVER_DB_BISA=banco_bisa
SQLSERVER_DB_GANADERO=banco_ganadero

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=asfi_user
MYSQL_PASSWORD=
MYSQL_DB_ECONOMICO=banco_economico
MYSQL_DB_PRODEM=banco_prodem
MYSQL_DB_SOLIDARIO=banco_solidario

MONGO_URI=mongodb://localhost:27017
MONGO_DB_FORTALEZA=banco_fortaleza
MONGO_DB_FIE=banco_fie
MONGO_DB_PYME=banco_pyme

FIREBASE_CREDENTIALS_PATH=keys/firebase_credentials.json
FIREBASE_PROJECT_ID=asfi-project

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=

PG_ASFI_HOST=localhost
PG_ASFI_PORT=5432
PG_ASFI_USER=asfi_central
PG_ASFI_PASSWORD=
PG_ASFI_DB=asfi_central

BCB_TC_BASE=6.9600
BCB_TC_VARIACION_MAX=0.9999
BCB_TC_INTERVALO_MINUTOS=3
